// Specific CSS for your home-page
.btn-home {
  color: #fff;
  background-color: #F4C2AE;
  border-radius: 10px;
  border: none;
  padding: 5px;
  width: 180px;
}
.btn-home:hover {
  color: #fff;
  background-color: #E7997A;
  border-radius: 10px;
  border: none;
  padding: 5px;
  width: 180px;
}