<div class="container d-flex justify-content-center">
  <div class="justify-content-center p-5 w-75">
    <h2>Preencha os dados do munícipe</h2>
    <h5>Todos os campos abaixo são obrigatórios.</h5>
    <%= render 'form', url_path: cidadaos_path %>
</div>