<div class="container">
  <div class="d-flex justify-content-around align-items-center mb-3">
    <div class="p-2"><%=image_tag "logo.png", style:'height:150px; width:auto;' %></div>
    <div class="p-2"><h1 class="text-center mt-2">MUNÍCIPES</h1></div>
    <div class="p-2"><a class="btn btn-home" href="/cidadaos/" role="button">Listar Munícipes</a></div>
  </div>
  <div class="justify-content-center p-5 w-75">
    <h2>Preencha os dados do munícipe</h2>
    <h5>Todos os campos abaixo são obrigatórios.</h5>
    <%= render 'form', url_path: cidadaos_path %>
</div>