<div class="d-flex flex-column mt-3 container justify-content-center">
  <div class="p-2 align-self-center mb-3">
    <%=image_tag "logo.png", style:'height:320px; width:auto;' %>
    <h1 class="text-center mt-2">CIDADÃOS</h1>
  </div>
  <div class="p-2 align-self-center">
    <h3>Entrar no seu perfil ou cadastrar um novo</h3>
  </div>
  <div class="p-2 align-self-center">
    Flex item 3
  </div>
</div>
